#gallery {
  background-color: var(--secondary);
  height: 100%;
  padding: 56px 50px;
  justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 50px ;
  margin: var(--wrap);
}

@media (max-width: 490px) {
  #gallery {
    background-color: white;
    padding-top: 0;
    row-gap: 20px;
  }
}