#gallery {
  background-color: var(--secondary);
  height: 100%;
  padding: 56px 50px;
  justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px ;
  margin: var(--wrap);
}