#location-page {
  margin: var(--wrap);
}

#location-header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#carousel-title {
  font-size: 36px;
  font-weight: 500;
  color: var(--primary);
  margin-top: 30px;
  line-height: 51.34px;
  margin: 0;
}

#carousel-location {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  line-height: 25.67px;
  margin-top: 0;
}

#tags {
  display: flex;
}

#location-user {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

#user-profile {
  display: flex;
  margin-bottom: 24px;
}

#user-name {
  margin: 0;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  margin-right: 10px;
  width : min-content;
  text-align: end;
}

#user-picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

#stars {
  width: 200px;
}

@media (max-width: 1024px) {
  #location-user {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 14px
  }

  #carousel-title {
    font-size: 28px;
  }

  #carousel-location {
    font-size: 16px;
  }

  #user-picture {
    height: 46px;
    width: 46px;
  }


  #location-header  {
    flex-direction: column;
  }

  #location-dropdowns {
    flex-direction: column;
  }

  #user-profile {
    margin-bottom: 0;
  }
}

@media (max-width: 490px) {
  #carousel-title {
    font-size: 18px;
    line-height: 25px;
  }

  #carousel-location {
    font-size: 14px;
  }

  #user-picture {
    height: 32px;
    width: 32px;
  }

  #user-name {
    font-size: 12px;
  }
}